.productDetailsContainer {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.backLink {
  color: #1069cf;
  font-weight: bold;
  margin-bottom: 1rem;
  display: inline-block;
}
.detailContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}

.imageSection {
  flex: 1 1 40%;
  text-align: center;
  align-content: center;
}

.infoSection {
  flex: 1 1 55%;
}
